{% extends "core/base.html" %}
{% block title %}<h1>Вход</h1>{% endblock %}
{% block content %}
    {% if form.errors %}
        <p style="color: red;">Ошибка авторизации!</p>
    {% endif %}
    <form id="form-login" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label }}:</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}:</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Войти">
                </td>
            </tr>
            <input type="hidden" name="next" value="{{ next }}">
        </table>
    </form>
{% endblock %}
