{% if user.is_authenticated %}
<form class="form-rate" action="{% if like == False %}{{ object.get_dislike_url }}{% else %}{{ object.get_like_url }}{% endif %}" method="POST">
    {% csrf_token %}
    <input type="submit"
           class="input-submit-like-{{ like }}"
           id="input-submit-like-{{ object.get_content_type_id }}-{{ object.pk }}-{{ like }}"
           value="{% if like == False %}&#x2796;{% else %}&#x2795;{% endif %}"
           onclick="rateAjax('{% if like == True %}{{ object.get_like_url }}{% else %}{{ object.get_dislike_url }}{% endif %}', {{ object.get_content_type_id }}, {{ object.pk }}); return false;"
            {%if like == value %}
           class="input-submit-like-disabled"
           disabled
            {% endif %}/>
</form>
{% else %}
{% if like == False %}&#x2796;{% else %}&#x2795;{% endif %}
{% endif %}